* {
    box-sizing: border-box;
}

:root {
    --primary-color: 0, 0, 0;
    --secondary-color: 255, 255, 255;

}

html {
    font-size: 62.5%;
    transition: all 0.5s ease;
}

html.dark {
    --primary-color: 255, 255, 255;
    --secondary-color: 0, 0, 0;
}

html.dark {
    background-color: #111;
    color: rgb(var(--primary-color));
}

body {
    font-size: 1.6rem;
    background-color: rgb(var(--secondary-color));
}

/* Header */
header {
    background-color: rgb(var(--primary-color));
    height: 10vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20rem;
}

a {
    text-decoration: none;
    color: rgb(var(--secondary-color));
}

.logo {
    width: 15rem;
    height: 15rem;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}